---
import { getRelativeLocaleUrl } from 'astro:i18n';

import type { SupportedLocale, NavKey } from '@/types';
import { SITE_URL_MAP, I18N_DEFAULT_LOCALE, I18N_CONFIG } from '@/constants/config';

import HeaderLink from './HeaderLink.astro';

type SiteNav = {
  key: NavKey;
  path: string;
}

const locale = (Astro.currentLocale || I18N_DEFAULT_LOCALE) as SupportedLocale;
const i18n = I18N_CONFIG[locale];
const getLocaleUrl = getRelativeLocaleUrl.bind(null, locale);

const navs: SiteNav[] = [
  // { key: 'projects', path: SITE_URL_MAP.projects },
  { key: 'about', path: SITE_URL_MAP.about },
];
---

<div class="internal-links">
  {navs.map(nav => (
    <HeaderLink href={nav.path.startsWith('http') ? nav.path : getLocaleUrl(nav.path)}>{i18n.navs[nav.key]}</HeaderLink>
  ))}
</div>
<style>
  .internal-links a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  .internal-links a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
