---
import ActionBar from './ActionBar';

import type { HomeLocale } from './typing';

interface Props {
  locale: HomeLocale;
}

const { locale } = Astro.props;
---

<div class="pt-14">
  <div class="h-96 max-w-screen-xl mx-auto flex flex-col items-center justify-center">
    <h1 class="mb-6 text-6xl sm:text-8xl font-extrabold text-center">{locale.heading}</h1>
    <p class="m-0 text-xl sm:text-2xl text-neutral-500 text-center">{locale.slogan}</p>
    <ActionBar className="mt-12" locale={locale} client:visible />
  </div>
</div>
