---
interface Props {
  title: string;
  class?: string;
}

const { title, class: customClass } = Astro.props;
---

<section class={customClass}>
  <h2 class="mb-6 text-2xl sm:text-3xl font-bold text-center uppercase">{title}</h2>
  <slot />
</section>
